<%- include('partials/header') %>
		<div class="jumbotron" id="one">
				<h1><em>The great</em> 
					<br>
					<em><span id="colorDisplay">RGB</span></em>
					<br>
					 <em>Color Game</em></h1>
		</div>	
		
		<div id="stripe">
			<button id="reset" class="">New colors</button>
			<span id="message"></span>	
			<button id="easybtn" class="">Easy</button>
			<button id="hardbtn" class="">Hard</button>
		</div>

		<div class="container">

			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
		</div>
<%- include('partials/footer') %>
